* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #1a054d;
}

.logo img {
    border-radius: 5px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}

.menu a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #f2f2f2;
}

.hero h1 {
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 15px;
    color: #555;
}

.hero input {
    padding: 8px;
    width: 200px;
}

.hero button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #1a054d;
    color: white;
}

.features {
    display: flex;
    gap: 20px;
    padding: 30px 20px;
}

.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #1a054d;
}

.card h2 {
    margin-bottom: 5px;
}

.card h3 {
    color: #1a054d;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 5px;
}

.card span {
    font-size: 12px;
    color: gray;
}

.card button {
    padding: 8px 15px;
    background-color: #1a054d;
    color: white;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background-color: #1a054d;
    color: white;
}

/* Responsive */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
}
